.navegacion__boton {
  background: $ball-blue;
  border: 2px solid $ball-blue;
  color: $white;
  font-family: $alt-typo;
  padding: 0.5rem 1rem;

  &:hover {
    background: $middle-blue;
    border: 2px solid $middle-blue;
  }
  
  &:focus {
    background: $gray;
    border: 2px solid $gray;
  }
}

.tarjeta__boton {
  background: $ball-blue;
  border: 2px solid $ball-blue;
  color: $white;
  font-family: $alt-typo;

  &:hover {
    background: $middle-blue;
    border: 2px solid $middle-blue;
  }

  &:focus {
    background: $gray;
    border: 2px solid $gray;
  }
}